In [8]:
sub1 = int(input("Enter any number of maths"))

sub2 = int(input("Enter any number of English"))

sub3 = int(input("Enter any number of computer"))

sub4 = int(input("Enter any number of Physics"))

sub5 = int(input("Enter any number of Chemistry"))

per =(sub1+sub2+sub3+sub4+sub5)/5
if per >=80 :
  print("Grade:A+")
elif per >=70 and per <80 :
    print("Grade:A")
elif per >=60 and per <70 :
    print("Grade:B")
elif per >=50 and per <60 :
    print("Grade:C")
elif per >=40 and per <50 :
    print("Grade:D")
elif per >=30 and per <40 :
    print("Grade:E")
    
else :
    print("failed")

Enter any number of maths55
Enter any number of English98
Enter any number of computer41
Enter any number of Physics44
Enter any number of Chemistry81
Grade:B

In [16]:
a = int(input("Enter any number:"))
     
if a%2==0 :
    print("This number is even")
else :
    print("This number is odd")

Enter any number:33
This number is odd

In [3]:
length= len(["khurram","2","3.5","4","junaid","6","7.9","zaka","9","10","ibrahim"])

print(length )

11

In [20]:
list = [22,8,43,18,9,77]
print(list)

sumvalue=sum(list)
print(sumvalue)

[22, 8, 43, 18, 9, 77]
177

In [18]:
list = [22,8,43,18,9]
print(list)

maxvalue = max(list)
print(maxvalue)

[22, 8, 43, 18, 9]
43

In [22]:
list = [1,1,2,3,5,8,13,21,34,55,89]
print(list)

list1=list[0:4]
print(list1)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
[1, 1, 2, 3]